
.proj-text{
    margin: 2em 0;
}

.proj-text p{
    font-size: 1.5em;
}

.proj-skills{
    font-size: 1.2rem; 
}
.projectDisplay{
    margin: 2em 0;
}

.proj-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
}

.projectDisplay h1{
    margin: 2rem 0;
}
h1{
    color: rgb(30, 15, 98);
}
.skillss{
    color: rgb(30, 15, 98);
}