.proj-skills{
    margin: 2rem 0;
    font-size: 1.2rem
    
}
.projectDisplay{
     margin: 2rem 0;
}

.proj-image{
   
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
}

.projectDisplay h1{
    margin: 2rem 0;
}
h1{
    color: rgb(30, 15, 98);
}
.skillss{
    color: rgb(30, 15, 98);
}