*{
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    background: rgb(153, 130, 255);
    
}


.links a{
   
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.links a:hover{
background-color: lightgrey;
color:black;
}

.toggleButton{
    position: absolute;
    top: 1rem;
    right: .75rem;
}

